/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  font-family: 'Noto Sans KR', sans-serif;
}

/* #################### 변수 var() #################### */
:root {
  --MainWidth: 1500px;
}

#container {
  width: 100%;
  height: 100%;

  margin: 0;
}

/* #################### 스크롤 기능은 살리고 스크롤바는 없애기 #################### */

body{
  -ms-overflow-style: none; 
} 

::-webkit-scrollbar {
  display: none; 
}

/* #################### section #################### */

#section {
  width: var(--MainWidth);
  height: 750px;

  margin: 0 auto 20px auto;

  border: 1px solid #000;
}

#section:nth-child(4) {
  /* :last-child */
  position: absolute;

  width: 100%;

  margin-bottom: 0;

  border: none;
} 

/* #################### footer #################### */

#my_footer {
  width: 100%;
  height: 100%;

  margin: 0;

  background: linear-gradient( to bottom, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.9) );
}

#main_travaux {
  width: var(--MainWidth);
  height: 100%;

  margin: auto;
}

#top_foorter {
  width: var(--MainWidth);
  height: 300px;

  display: flex;

  /* background-color: #000; */
}

.TL_foorter {
  width: 1000px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.5);

  padding: 5px 0px;
  box-sizing: border-box;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.TL_foorter ul {
  font-size: 20px;
  display: inline-table;
  width: 300px;
  height: 325px;

  padding: 50px 10px 55px 50px;

  box-sizing: border-box;

  list-style: none;

  cursor: pointer;
}

.TL_foorter ul:nth-child(3) {
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.TL_foorter li:nth-child(1) {
  padding-top: 20px;
}

.TL_foorter a {
  font-size: 15px;
  text-decoration: none;
  color: #000;
}

.TL_foorter hr {
  position: absolute;

  width: 98%;
  height: 2px;

  margin: 0;
  
  border: transparent;
  background-color: rgba(51, 51, 51, 0.1);
  
  float: left;
}

.TR_foorter {
  width: 600px;
  height: 400px;
  background-color: rgba(238, 238, 238, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.TR_foorter h2 {
  font-size: 20px;
  font-weight: normal;
  padding: 5px 10px 10px 20px;
}

#bottom_foorter {
  width: var(--MainWidth);
  height: 400px;
  margin-top: 50px;

  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}