/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");

/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* IMPORT VARIABLES */
@import url("../css/Variables.css");

body {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  width: var(--FullWidth);
  height: var(--MainHeight);
  background-color: rgb(192, 204, 197);
}
/* 좌측 or 우측 햄버거 버튼 클릭 시, 왼쪽 or 오른쪽 사이드바가 나타나는 것이므로 flex 필요 없음. */
/* 사이드바 자체에 height 설정할 것이므로, body에는 설정하지 않음  */

a {
  text-decoration: none;
  color: rgb(196, 198, 211);
}
