@charset "utf-8";

/* ########################################*/
/* ########## Google Web Fonts CDN ########## */
/* ########################################*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");

/* ########################################*/
/* ########## Fontawesome 4.7 ########## */
/* ########################################*/
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* ########################################*/
/* ########## IMPORT VARIABLES ########## */
/* ########################################*/
@import url("../css/Variables.css");

/* ########################################*/
/* ########## DEFALT CCC ########## */
/* ########################################*/
* {
  font-family: "Noto Sans KR", sans-serif;
}

body {
  -ms-overflow-style: none;
  background-color: var(--WhiteColor);
}

::-webkit-scrollbar {
  display: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #eee;
}

#container {
  margin: 0%;
  padding: 0%;
}

section {
  height: var(--MainHeight);
  margin-bottom: 10px;
}

/* ########################################*/
/* ########## HEADER ########## */
/* ########################################*/

header {
  background-color: var(--BlackColor);
  width: 100%;
  height: 40px;
  z-index: 100;
}

.test {
  position: fixed;
  width: 100%;
  height: 40px;
  transition: 0.5s;

  z-index: 100;
}

.header-inner {
  width: var(--MainWidth);
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  transition: 1s;
}

/* logo design  */

.logo {
  padding-top: 3px;
  box-sizing: border-box;
}

.logo a {
  font-size: var(--MdFontSize);
  position: relative;
}

.logo a img {
  width: 80px;
}

#test {
  display: inline-block;
  color: #eee;
  margin: 0;
  font-size: 10px;
}

/* nav design */

.gnb {
  display: flex;
}

.gnb li {
  font-size: var(--SmFontSize);
  width: 150px;
  padding: 10px;
  text-align: center;
  line-height: 20px;
}

.gnb li a {
  position: relative;
}

.gnb li:hover > a {
  color: #d99578;
}

.gnb li:hover .menu {
  display: block;
}

.menu {
  display: none;
  margin-top: 10px;
  position: relative;
}

.menu::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 20px;
  width: 10px;
  height: 10px;
  clip-path: polygon(50% 30%, 0% 100%, 100% 100%);
  background-color: #eee;
  color: transparent;
}

.menu li {
  box-sizing: border-box;
  background-color: #eee;
  transition: 0.5s;
  border-bottom: 1px solid #ddd;
}

.menu li a {
  color: #333;
}

.menu li:hover {
  background-color: #d99578;
  border-bottom: 1px solid transparent;
}

.menu li:hover a {
  color: #eee;
}

/* ########################################*/
/* ########## SECTION01 ########## */
/* ########################################*/

.section01 {
  margin-top: 10px;
  width: 100%;
}

.section01 div {
  width: var(--FullWidth);
  height: var(--MainHeight);

  background-image: url("/images/juni/pauline.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section01 p {
  position: absolute;
  top: 20%;
  left: 45%;

  transform: translate(-25%);

  font-size: var(--MdFontSize);

  text-align: center;
}

.section01 p a {
  font-size: var(--SmFontSize);
  transition: 0.5s;
}

.section01 p a:hover {
  color: var(--OrangeColor);
  font-size: 18px;
}

/* ########################################*/
/* ########## SECTION02 ########## */
/* ########################################*/

.section02 {
  width: var(--FullWidth);
  height: var(--MainHeight);
  /* background-color: var(--BlackColor); */
  /* background: linear-gradient(#3f4d90, #3f898a); */
  background: url(/images/moni/5172658.jpg) no-repeat center center;
  background-size: cover;
}

.wrapper {
  width: var(--MainWidth);
  height: 100%;
  margin-left: 10%;
  /*  margin: auto; */
  display: flex;
  align-items: center;
}

.gallery {
  /*  margin-left: 10%; */
  /* z-index: 1; */
  /*  border: 1px solid #fff; */
  text-align: center;
}

.gallery h1 {
  color: #fff;
  font-size: 60px;
  margin-bottom: 0;
}

.gallery p {
  color: #fff;
  font-size: 14px;
}

/* .gallery a {
  color: #000;
  background-color: #fff;
  padding: 5px 7px;
  border-radius: 5px;
} */

button {
  /* width: 130px; */
  color: #000;
  background: #fff;
  font-size: 15px;
  padding: 7px 20px;
  border-radius: 3px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(101, 167, 171);
  z-index: -1;
  transition: 0.3s;
}

button:hover::after {
  width: 100%;
}

button:hover {
  color: #fff;
}

.content {
  border: 1px solid #fff;
  height: 500px;
  /* width: 100%; */
  margin: 10%;
  overflow: hidden;
  /* position: relative; */
  text-align: center;
}

.photo {
  display: inline-block;
  line-height: 10px;
  padding: 10px;
  padding-top: 20px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0 10px;
  transition: 0.5s;
}

.photo h4 {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 0;
}

.photo img {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  display: inline-block;
}

.photo p {
  font-size: 12px;
  color: #fff;
  text-shadow: 0 0 5px #000;
}

.photo:hover {
  transform: translateY(-20px);
}

/* .content {
  border: 1px solid #000;
  text-align: center;
}
.photo {
  display: inline-block;
  width: 150px;
  height: 200px;
  border: 1px solid red;
  position: relative;
}
.caption {
  width: 150px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  padding-top: 20px;
  opacity: 0;
  transition: 0.5s;
}
.photo:hover .caption {
  opacity: 1;
} */

/* ########################################*/
/* ########## SECTION03 ########## */
/* ########################################*/

.section03 {
  /* width: 100%; */
  width: var(--FullWidth);
  height: var(--MainHeight);
  background: url(/images/u/nite.jpg) no-repeat center center;
  background-size: cover;
}

.container_u {
  display: relative;
  text-align: center;
}

.text1_u {
  font-size: 2.3em;
  padding: 65px 10px 10px 10px;
  color: white;
  text-align: center;
}

.text2_u {
  font-size: 1.3em;
  padding: 55px 10px 10px 20px;
  color: rgb(223, 223, 223);
  text-align: center;
}

.icon_u {
  /* border: 1px solid white; */
  padding: 100px 30px;
  width: 160px;
  height: 160px;
  display: inline-block;
}

.icon_u span {
  position: absolute;
  /* border: 1px solid orange; */
  background-color: #a9b3a8a8;
  color: white;
  width: 320px;
  text-align: center;
  top: 15%;
  padding: 5px;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  /* display: none; */
  opacity: 0;
  transition: 0.2s;
  visibility: hidden;
}

.icon_u span:after {
  content: "";
  position: absolute;
  background-color: #caccb5;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateX(-50%);
  bottom: -10px;
  left: 50%;
}

.icon_u:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.icon_u:hover span {
  /* display: block; */
  opacity: 1;
  visibility: visible;
}

/* ########################################*/
/* ########## SECTION04 ########## */
/* ########################################*/

.section04 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 0.8102591378348214) 96%
  );
}

.title-box {
  width: 60%;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.title-box h2 {
  font-size: 28px;
  margin-top: 30%;
  margin-bottom: 60px;
  color: #fff;
}

.title-box a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding: 10px 12px;
  border-radius: 5px;
  background-color: #293b5f;
  transition: 0.3s;
}

.title-box a:hover {
  background-color: #2fb9d198;
}

.img-box {
  width: 35%;
  background: url(../images/seon/landing-ex.png) no-repeat top left;
  transition: 1s;
  margin: 40px 80px;
  border-radius: 20px;
}

.img-box:hover {
  background-position: bottom left;
}

.animation-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.box {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  bottom: -150px;
}

.box:nth-child(1) {
  left: 56%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box:nth-child(4) {
  left: 80%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box:nth-child(5) {
  left: 2%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.box:nth-child(6) {
  left: 25%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(80deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

/* ########################################*/
/* ########## SECTION05 ########## */
/* ########################################*/

.section05 {
  /* width: 100%; */
  background: url(/images/u/ss3_u.jpg) no-repeat center center;
  width: var(--FullWidth);
  height: var(--MainHeight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-inner {
  /* border: 1px solid red; */
  width: 240px;
  height: 280px;
  position: relative;
}

.tab-inner img {
  position: relative;
}

input[name="tabmenu"] {
  display: none;
}

.ucon {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  /* border: 5px solid yellowgreen; */
}

.ucon a img {
  border: 1px solid yellow;
  opacity: 0.4;
}

.btn {
  /* border: 1px solid blue; */
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.btn label {
  background-color: lightgray;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

input[id="tab1"]:checked ~ .slide1,
input[id="tab2"]:checked ~ .slide2,
input[id="tab3"]:checked ~ .slide3 {
  /* display: block; */
  opacity: 1;
  visibility: visible;
}

input[id="tab1"]:checked ~ .btn label[for="tab1"],
input[id="tab2"]:checked ~ .btn label[for="tab2"],
input[id="tab3"]:checked ~ .btn label[for="tab3"] {
  background-color: crimson;
}

/* ########################################*/
/* ########## SECTION06 ########## */
/* ########################################*/

.section06 {
  /* background-color:  var(--BlackColor); */
  display: flex;
  justify-content: center;
  align-items: center;

  height: 600px;

  background-color: var(--BlackColor);
}

.info06 h3 {
  padding-bottom: 10px;

  cursor: pointer;
  color: var(--WhiteColor);
}

.info06 a {
  padding-top: 10px;
  display: block;
  color: #000;
  font-weight: normal;

  color: var(--WhiteColor);
}

.info06 a:hover {
  color: var(--OrangeColor);
}

.card06 {
  transform-style: preserve-3d;
  min-height: 65vh;
  width: 5rem;
  border-radius: 30px;
  padding: 0rem 5rem;

  background-image: url("../images/juni/phone.png");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sneaker06 {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sneaker06 img {
  padding-top: 50px;

  width: 12rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}

/* ########################################*/
/* ########## sectionMoni ########## */
/* ########################################*/

.section_moni {
  width: var(--FullWidth);
  height: var(--MainHeight);
  /* background-color: teal; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--DeepWhiteColor);
}

.container_moni {
  display: flex;
  justify-content: center;
}

.card_moni {
  position: relative;
  margin: 25px;
  width: 300px;
  height: 500px;
  transition: 0.5s;
}

.card_moni img {
  width: 100%;
  /* background: url(/images/moni/Olaf.jpg) no-repeat center center; */
  background-size: cover;
}

.content_moni {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(to top, crimson, transparent);
  color: #fff;
  text-align: center;
  padding-top: 220px;
  transition: 0.5s;
}

.content_moni h2 {
  font-size: 25px;
}

.content_moni p {
  font-size: 15px;
  padding-top: 20px;
}

.content_moni a {
  border: 1px solid #fff;
  border-radius: 20px;
  display: inline-block;
  font-size: 13px;
  width: 70px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-top: 30px;
}

.card_moni:hover .content {
  top: 0;
}

.card_moni:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.content_moni a:hover {
  background-color: #fff;
  color: #000;
}

/* ########################################*/
/* ########## section07 ########## */
/* ########################################*/

.section07 {
  width: var(--FullWidth);
  height: var(--MainHeight);
  /* background-color: #000; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--BlackColor);
}

.container_07 {
  height: inherit;
  background: #fff;
  max-width: 800px;
  margin: 0 auto;
  padding: 0px;

  background-color: var(--BlackColor);
}

.slider img {
  max-width: 100%;
  display: none;
}

img.active {
  display: block;
  animation: fade 0.8s;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cont-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-nav {
  font-size: 24px;
  margin: 0 15px;
  cursor: pointer;
}

/* ########################################*/
/* ########## section08 ########## */
/* ########################################*/

.section08 {
  width: var(--FullWidth);
  height: var(--MainHeight);
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--DeepWhiteColor);
}

.container08 {
  width: var(--MainWidth);
  height: var(--MainHeight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.position-relative {
  margin-left: 50px;
}

.position-relative img {
  width: 300px;
  height: 200px;
}

.position-relative h3 {
  color: #000;
}

.img-hover {
  transition: transform 4s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform 4s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: right;
}

.img-hover:hover {
  transform: rotateY(-35deg) scale(1.15);
  transform-origin: right;
}

.img-hover.activated {
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
  animation: hoverEffect 1s linear;
}

.img-hover.not-activated {
  clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 100%);
  animation: hoverOutEffect 1s linear;
}

@keyframes hoverEffect {
  0% {
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 100%);
  }

  100% {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
  }
}

@keyframes hoverOutEffect {
  0% {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
  }

  100% {
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 100%);
  }
}

/* ########################################*/
/* ########## footer ########## */
/* ########################################*/

footer {
  width: var(--FullWidth);
  height: 70px;

  background-color: var(--BlackColor);

  display: flex;
  justify-content: center;
}

.my_footer {
  width: var(--MainWidth);
  height: inherit;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.my_footer span {
  color: var(--WhiteColor);
  line-height: 70px;
}
