@charset "utf-8";

/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Reset CSS */
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #eee;
}

/* Defalt CSS */

* {
  font-family: 'Noto Sans KR', sans-serif;
}

#container {/* body block요소이기 때문에 자동으로 브라우저 100% 크기로 맞춰집니다. */
  margin: 0;
  color: #333;
}

/* ########## 변수 var() ########## */
:root {
  --MainWidth: 1500px;
}

/* ########## 스크롤 기능은 살리고 스크롤바는 없애기 ########## */

body{
  -ms-overflow-style: none; 
} 

::-webkit-scrollbar {
  display: none; 
}

/* ########## header ########## */
header {
  background-color: #302e2f;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-inner {
  width: var(--MainWidth);
  height: 90px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* logo design */
.logo {
  margin-right: 50px;
}
.logo a {
  font-size: 24px;
  position: relative;
}
.logo a::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: ': 작은 물방울';
  color: #ddd;
  font-size: 12px;
  padding-top: 3px;
}
.logo img {}

/* nav design */
nav {}
.gnb {
  display: flex;
}
.gnb li {
  width: 150px;
  padding: 10px;
  text-align: center;
}

.gnb li a {
  position: relative;
}

.gnb li:hover > a {
  color: #d99578;
}

.gnb li:hover .menu {
  display: block;
}

.menu {
  display: none;
  margin-top: 38px;
  position: relative;
}

.menu::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 20px;
  width: 10px;
  height: 10px;
  clip-path: polygon(50% 30%, 0% 100%, 100% 100%);
  background-color: #eee;
}

.menu li {
  box-sizing: border-box;
  background-color: #eee;
  transition: 0.5s;
  border-bottom: 1px solid #ddd;
}

.menu li a {
  color: #333;
}

.menu li:hover {
  background-color: #d99578;
}

.menu li:hover a {
  color: #eee;
}

/* side_box*/
.side_box {
  width: 100px;
  padding: 12px 10px;
}

.search, 
.hambuger {
  display: inline-block;
  cursor: pointer;
}

.search {
  color: #ddd;
  font-size: 21px;
  margin: 0 10px 0 20px;

}
.hambuger {
  width: 30px;
  height: 20px;
  position: relative;
}

.hambuger span {
  position: absolute;
  width: 28px;
  height: 3px;
  background-color: #d99578;
  border-radius: 2px;
  margin-top: 2px;
  transition: 0.5s;;
}

.hambuger span:nth-child(1) {
  top: 0;
}
.hambuger span:nth-child(2) {
  top: 50%;
}
.hambuger span:nth-child(3) {
  top: 100%;
}

.hambuger.active span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
.hambuger.active span:nth-child(2) {
  display: none;
}
.hambuger.active span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

/* sidenav */
.sidenav {
  position: absolute;
  top: 0;
  left: -350px;
  width: 350px;
  height: 100vh;
  background-color: #000;
  transition: 0.5s;
}

header.active .sidenav {
  left: 0;
}

/* ########## section ########## */

section {
  width: var(--MainWidth);
  height: 750px;

  margin: 0 auto 20px auto;

  border: 1px solid #000;
}

#main_footer {
  /* :last-child */
  position: absolute;

  width: 100%;
  height: 640px;

  margin-bottom: 0;

  border: none;
} 

/* ########## section02 ########## */

.section02 {
  border: none;
  display: flex;
  justify-content: center;
}

.slider{
  position: relative;
  background: #302e2f;
  width: 1350px;
  min-height: 700px;
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
}

.slider .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);
}

.slider .slide.active{
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%);
  transition: 2s;
}

.slider .slide img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide .info{
  position: absolute;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  width: 75%;
  margin-top: 50px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.slider .slide .info h2{
  font-size: 2em;
  font-weight: 800;
}

.slider .slide .info p{
  font-size: 1em;
  font-weight: 400;
}

.navigation{
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation{
  opacity: 1;
}

.prev-btn, .next-btn{
  z-index: 10;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}

.prev-btn{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navigation-visibility{
  z-index: 10;
  display: flex;
  justify-content: center;
}

.navigation-visibility .slide-icon{
  z-index: 10;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active{
  background: #4285F4;
}

@media (max-width: 900px){
  .slider{
    width: 100%;
  }

  .slider .slide .info{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px){
  .slider .slide .info h2{
    font-size: 1.8em;
    line-height: 40px;
  }

  .slider .slide .info p{
    font-size: 0.9em;
  }
}



/* ########## footer ########## */

#my_footer {
  width: 100%;
  height: 640px;

  overflow: hidden;
  margin: 0;

  background: linear-gradient( to bottom, rgba(255, 255, 255, 0.9), #302e2f );
}

#main_travaux {
  width: var(--MainWidth);
  height: 100%;

  margin: auto;
}

#top_foorter {
  width: var(--MainWidth);
  height: 300px;

  display: flex;

  /* background-color: #000; */
}

.TL_foorter {
  width: 1000px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.5);

  padding: 5px 0px;
  box-sizing: border-box;

  box-shadow: 0 0 10px #302e2f;
}

.TL_foorter ul {
  font-size: 20px;
  display: inline-table;
  width: 300px;
  height: 325px;

  padding: 50px 10px 45px 50px;

  box-sizing: border-box;

  list-style: none;

  cursor: pointer;
}

.TL_foorter ul:nth-child(3) {
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.TL_foorter li:nth-child(1) {
  padding-top: 20px;
}

.TL_foorter li a {
  padding-bottom: 5px;
  font-size: 15px;
  text-decoration: none;
  color: #000;
  position: relative;
}

.TL_foorter li a:before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 2px;
  width: 0;
  bottom: 3px;
  transition: 0.5s;
}

.TL_foorter li a:hover:before {
  width: 100%;
}

.TL_foorter hr {
  position: absolute;

  width: 98%;
  height: 2px;

  margin: 0;
  
  border: transparent;
  background-color: rgba(51, 51, 51, 0.1);
  
  float: left;
}

.TR_foorter {
  width: 600px;
  height: 400px;
  background-color: rgba(238, 238, 238, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.or-text {
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
  padding: 50px 10px 10px 60px;
}

.or-text:after {
  content: '';
  background-color: rgba(51, 51, 51, 0.3);
  height: 1px;
  margin-left: 20px;
  width: 66%;
  position: absolute;
  top: 16.5%;
}

.sns {
  padding: 5px 0 0 50px;
}
.sns a {
  color: #000;
  border: 5px solid rgba(255, 255, 255, 0.8);
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color:#fff;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}
.sns a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  background-color: blue;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
.sns a:hover:before {
  height: 100%;
}
.sns a:nth-child(1):before {
  background-color: #3b5999;
}
.sns a:nth-child(2):before {
  background-color: #55acee;
}
.sns a:nth-child(3):before {
  background-color: #dd4b39;
}
.sns a:nth-child(4):before {
  background-color: #0077B5;
}
.sns a:nth-child(5):before {
  background-color: #e4405f;
}
.sns a .fa {
  position: relative;
  transition: 0.5s;
}
.sns a:hover .fa {
  transform: rotateY(360deg);
  color: #fff;
}

#bottom_foorter {
  width: var(--MainWidth);
  height: 400px;
  margin-top: 50px;

  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
}

.box {
  width: 70px;
  height: 75px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.3em;
  position: relative;
  margin: 250px 600px;
  overflow: hidden;
  box-shadow: 2px 0 40px rgba(0, 0, 0, 0.5);
  transform: scale(2);
}

.wave {
  width: 150px;
  height: 150px;
  left: -50%;
  bottom: -190%;
  position: absolute;
  border-radius: 33%;
  transition: all 1.4s linear;
  animation: waves 2.4s linear infinite;
}

.lighitblue {
  background: linear-gradient(
    to right, #f4f5e5, #4ea2e7
  );
}

@keyframes waves {
  0% {
    transform: rotate(0);
    border-radius: 30%;
    /* bottom: -170px; */
  }

  45% {
    border-radius: 39%;
  }

  100% {
    transform: rotate(360deg);
    border-radius: 30%;
    /* bottom: -80px; */
  }
}

.drops {
  width: 20px;
  height: 20px;
  position: relative;
  top: 0;
  left: 720px;
  border-radius: 1em;
  border-top-right-radius: 0.2em;
  animation: drops 2s linear infinite;
}

.drops:nth-child(2){
  left: 660px;
  animation-delay: 0.6s;
}
.drops:nth-child(3){
  left: 680px;
  animation-delay: 1.2s;
}
.drops:nth-child(4){
  left: 710px;
  animation-delay: 1.6s;
}
.drops:nth-child(5){
  left: 670px;
  animation-delay: 0.5s;
}

@keyframes drops {
  0% {
    opacity: 0.2;
    transform: translateY(0) rotate(-40deg);
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: translateY(340px) rotate(-40deg);
  }
}

#bottom_foorter h2 {
  position: absolute;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
  font-style: italic;
  margin-left: 370px;
  margin-top: 150px;
  cursor: cell;
}

#bottom_foorter h2:hover {
  color: rgba(0, 0, 0, 0.1);
}

