#container {
  line-height: 1.5em;
  font-weight: 300;
  margin: 0;
}

/* 스크롤 기능은 살리고 스크롤바는 없애기 */

body{
  -ms-overflow-style: none; 
} 

::-webkit-scrollbar {
  display: none; 
}

/* 섹션 분활 */

#section {
  width: 1200px;
  height: 700px;
  border: 1px solid #000;
  
  margin: auto;
  margin-bottom: 50px;
}

#section:nth-child(1) {
  margin-top: 5px;
}

#section:nth-child(6) {
  margin-bottom: 5px;
}

/* section_01 */

.section_01 {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 55px;

  border-bottom: 1px solid #000;
}

.nav_logo {
  position: relative;

  width: 250px;
  height: inherit;
  border: 1px solid #000;
}

.nav_logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -50%);

  width: 35px;
  height: 35px;
  /* background-color: #000; */
}

.nav_logo h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -150%);

  font-size: 24px;
  text-align: center;
}

.nav_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 0;
}

.nav_menu li {
  list-style: none;
}

.nav_menu a {
  text-decoration: none;
  color: #000;

  font-size: 18px;
  padding: 8px 12px;
}

.nav_etc {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: inherit;
  border: 1px solid #000;
  
}

.nav_etc span {
  width: 30px;
  height: 30px;

  border: 1px solid #000;
}

.nav_etc li {
  display: inline-block;

  width: 30px;
  height: 30px;

  border: 1px solid #000;
  list-style: none;
}

.nav_etc a {
  text-decoration: none;
  color: #000;
}

canvas {
  width: 1200px;
  height: 645px;
  border: 1px solid red;
}