#container {
  line-height: 1.5em;
  font-weight: 300;
}

/* 스크롤 기능은 살리고 스크롤바는 없애기 */

body{
  -ms-overflow-style: none; 
} 

::-webkit-scrollbar {
  display: none; 
}

/* 섹션 분활 */

#section {
  width: 1500px;
  height: 700px;
  border: 1px solid #000;
  
  margin: auto;
  margin-bottom: 50px;
}

#section:nth-child(1) {
  margin-top: 5px;
  border: 1px solid transparent;
}

#section:nth-child(6) {
  margin-bottom: 5px;
}

/* section_01 */

.section_01 {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 55px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.1);
  box-sizing: border-box;
}

.nav_logo {
  position: relative;

  width: 250px;
  height: inherit;
  border: 1px solid transparent;
}

.nav_logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -50%);

  width: 35px;
  height: 35px;
  /* background-color: #000; */
}

.nav_logo h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -150%);

  font-size: 24px;
  text-align: center;
}

/* .nav_menu {
 position: relative; 
}

.nav_menu > li:hover .nav_submenu{
  opacity: 1;
  visibility: visible;
}

.nav_submenu {
  position: absolute;
  top: 10;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.nav_submenu > li {
  margin-top: 24px;
} */


.nav_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 0;
}

.nav_menu li {
  list-style: none;
  width: 200px;
}

.nav_menu a {
  text-align: center;
  text-decoration: none;
  color: #000;

  font-size: 18px;
  padding: 8px 30px;
  transition: 0.2s;
}

.nav_menu li:hover .nav_submenu {
  opacity: 1;
  visibility: visible;
}

.nav_menu a:hover {
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  width: 200px;
}

.nav_submenu {
  position: absolute;
  opacity: 0;
  padding: 0;
  visibility: hidden;
}

.nav_submenu li {
  margin-top: 24px;
}

.nav_submenu a:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}


.nav_etc {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: inherit;
  border: 1px solid transparent;
}

.nav_etc span {
  width: 30px;
  height: 30px;

  border: 1px solid transparent;
}

.nav_etc li {
  display: inline-block;

  /* width: 30px;
  height: 30px; */

  border: 1px solid transparent;
  list-style: none

}

.nav_etc a {
  text-decoration: none;
  color: #000;
}

.nav_etc img {
  width: 24px;
  padding: 0;
  margin: 0;
}

/* Main__canvas animation */

canvas {
  width: 1500px;
  height: 645px;
  border: 1px solid transparent;
  background-color: #fff;
  z-index: -1;
}